//colors
$primary-background: yellow;
$radient-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$border-radius: 25px;
$cream: #ede1ce;
$musturd: #cfa14c;
$font-size: 12px;
$header-font:  'Limelight', cursive;
$form-background: white;
$form-border: 2px solid black;
$body-font:'Comfortaa', cursive;
$button-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
$button-border: 1px solid rgba(0,0,0,1);
$margin-alignment: 0 5% 5% 5%;
$grid-gap: 15px;
$box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);


// $hearder-font: 'Oi', cursive;
