//colors
$primary-background: yellow;
$radient-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$border-radius: 25px;
$cream: #ede1ce;
$musterd: #cfa14c;
// $hearder-font: 'Oi', cursive;
