/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables'; // @use is maybe a better thing to use, but this is currently working


* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cream;
  font-family: 'Comfortaa', cursive;
  // overflow: scroll;
}

li {
  list-style-type: none;
}

/* Login Page */
.login-container{
  display: flex;
  align-items: center;
  border: 2px solid green;
  width: 100%;
  height: 600px;
}
.log-in {
  display: flex;
  align-items: column;
  justify-content: center;
  background-color: white;
  height: 60%;
  width: 60%;

  padding: auto;
  border: 2px solid black;

  .login-image {
    width: 40%;
    border-radius: 50%;
    border: 2px solid green;
    margin: 0;
    padding: 0;
  }
}
/* Nav-bar */
.nav-bar {
  background-color: $musterd;
  height: 10%;
  width: 100%;
  font-family: 'Limelight', cursive;
  color: black;
  font-size: 30px;
}
.button {
  display: block;
  margin: 0 auto;
  line-height: $font-size *2;
  padding: 0 20px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
  font-family: 'Limelight', cursive;

  &:hover {
    background: $musterd;
  }
  // margin: 5%;
}
/*Trips text */
.trip {
  display: flex;
  height: 10%;
  padding-bottom: 0;
  font-family: 'Limelight', cursive;
}
/* trip cards */
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(4, 90%);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 0;
}


.trip-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  grid-template-columns: 200px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image-info" "text-info";
  background-color: white;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
  text-align: center;
  border: 2px solid black;
  margin-bottom: 15px;
}

.image {
  grid-area: image;
  width: 100%;
}

a {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.text-info {
  grid-area: text;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.button-div {
  display: flex;

  padding-top: 5%;
  padding-bottom: 5%;
  height: 5%;
}



//Form page
.form-container {
  height: 500px;
  width: 100%;
}

  .form-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    // height: 100%;
    // width: 50%;
    // margin: 5% auto 5% auto;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
    text-align: center;
    border: 2px solid black;


    .book-trip {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;
    }

    .form-input {
      display: flex;
      align-items: center;
    }

    .input {
      display: block;
      margin: 0 auto;
      font-size: $font-size;
      line-height: $font-size *2;
      border: none;
      border-bottom: 5px solid rgba(0,0,0,1);
      min-width: 250px;
      padding-left: 5px;
      outline: none;
      color: rgba(0,0,0,1);

      &:hover {
        border-bottom: 5px solid $musterd;
      }

      .destinations {
        font-size: $font-size;
      }

    }

    h2 {
      font-family: 'Limelight', cursive;
    }

    .back {
      display: flex;
      align-items: stretch;
      flex-direction: flex-start;
      margin: 0;
      padding: 0;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      border: 2px solid pink;
      width: 100%;
      margin-bottom: 10%;
      padding: 0;
    }
  }

  button {
  border: 1px solid rgba(0,0,0,1);

  }

.hidden {
  display: none;
}
