/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables'; // @use is maybe a better thing to use, but this is currently working
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @mixin flexbox() {
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
// }
//
// @mixin flex($values) {
//   -webkit-box-flex: $values;
//   -moz-box-flex:  $values;
//   -webkit-flex:  $values;
//   -ms-flex:  $values;
//   flex:  $values;
// }
//
// @mixin order($val) {
//   -webkit-box-ordinal-group: $val;
//   -moz-box-ordinal-group: $val;
//   -ms-flex-order: $val;
//   -webkit-order: $val;
//   order: $val;
// }
//
// .wrapper {
//   @include flexbox();
// }
//
// .item {
//   @include flex(1 200px);
//   @include order(2);
// }


* {
  margin: 0;
}
body {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cream;
  font-family: 'Comfortaa', cursive;
  overflow: scroll;


}


li {
  list-style-type: none;

}

/* Nav-bar */
.nav-bar {
  background-color: $musterd;
  height: 10%;
  width: 100%;
  border: 2px solid blue;
  font-family: 'Limelight', cursive;
  color: black;
  font-size: 30px;
}

/*Trips text */
.trip {
  display: flex;
  height: 10%;
  padding-bottom: 0;
  font-family: 'Limelight', cursive;

}

/* trip cards */
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;

  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(4, 90%);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 0;
  // border: 1px solid black;

}
// .parent {
//   display: flex;
// }

.trip-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  grid-template-columns: 200px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image-info" "text-info";
  // border-radius: 18px;
  background-color: white;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
  text-align: center;
  border: 2px solid black;
  margin-bottom: 15px;
  // border: 2px solid blue;


}
.image {
  grid-area: image;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
  // border: 2px solid red;
  width: 300px;


}



a {
  // border: 2px solid blue;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.text-info {
  grid-area: text;
  display: flex;
  flex-direction: column;
  // border: 5px solid black;
  padding: 0;
  margin: 0;

}
// .image {
//   width: 100%;
//   height: 40%;
//
// }
/* button */
.button-div {
  padding-top: 5%;
  height: 5%;
  // border: 2px solid red;
}
.button {
  display: block;
  margin: 0 auto;
  line-height: $font-size *2;
  padding: 0 20px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
  font-family: 'Limelight', cursive;

  &:hover {
    background: $musterd
  }

  // margin: 5%;
}

/* Amount Spent */
.total-spent {
  border: 2px solid pink;
  height: 10%;
}
.amount-spent {
  .border: 2px solid red;
}

//Form page
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 4px solid green;
  background-color: white;
  height: 400px;
  width: 40%;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
  text-align: center;
  border: 2px solid black;
  margin-bottom: 10%;


  .book-trip {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
  }
  .form-input {
    display: flex;
    align-items: center;
  }

  h2{
    font-family:'Limelight', cursive;
  }

}

.hidden {
  display: none;
}





//
